appsettings.json
appsettings.Development.json
authKey.json
*.editorconfig
bin/
obj/
.idea/
*.user
.angular/
.vscode/
node_modules
internal-nlog.txt
PooPosting/PooPosting.Api/logs/internal-nlog.txt
/PooPosting/PooPosting.Api/wwwroot/pictures/
/PooPosting/PooPosting.Api/wwwroot/accounts/profile_pictures/
/PooPosting/PooPosting.Api/wwwroot/accounts/background_pictures/
/PooPosting/PooPosting.Api/Logs/