appsettings.json
appsettings.Development.json
authKey.json
*.editorconfig
PicturesApi/PicturesApi/wwwroot/pictures/*
PicturesApi/PicturesApi/wwwroot/accounts/profile_pictures/*
PicturesApi/PicturesApi/wwwroot/accounts/background_pictures/*
PicturesApi/PicturesApi/Logs/
bin/
obj/
.idea/
*.user