appsettings.json
appsettings.Development.json
Logs/
*.txt
appsettings.Development.json
authKey.json
bin/
obj/
wwwroot/pictures/*
wwwroot/accounts/profile_pictures/*
wwwroot/accounts/background_pictures/*
.idea/
