<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="./logs/internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>

        <!-- write logs to file  -->
        <target xsi:type="File" name="allfile" fileName="./logs/all/nlog-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File" name="warnings" fileName="./logs/warnings/nlog-all-warnings.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File" name="exceptions" fileName="./logs/exceptions/nlog-all-excepitons-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File" name="request-time" fileName="./logs/request-time/nlog-request-time.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File" name="userdata" fileName="./logs/userdata/userdata-${shortdate}.log"
                layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
        
        <target xsi:type="File" name="userdata-warn" fileName="./logs/userdata-warn/userdata-warn-${shortdate}.log"
                layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />

    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="PicturesAPI.*" minlevel="Warn" writeTo="warnings" />
        <logger name="PicturesAPI.*" minlevel="Error" writeTo="exceptions" />
        <logger name="PicturesAPI.Middleware.UserDataMiddleware" minlevel="Info" writeTo="userdata" />
        <logger name="PicturesAPI.Middleware.UserDataMiddleware" minlevel="Warn" writeTo="userdata-warn" />
        <logger name="PicturesAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />

    </rules>
</nlog>