<div class="text-muted text-center mt-5 mb-3">
  <p>Jako administrator, możesz zbanować tego użytkownika.</p>
  <p><small>Usunie to wszystkie jego posty, oraz nie będzie on w stanie zalogować się już na swoje konto</small></p>
</div>
<div class="w-100 text-center form">
  <input type="text" pInputText class="w-100 mb-2" placeholder="Wpisz nazwę tego użytkownika, aby usunąć" [(ngModel)]="banPhrase">
  <button pButton pRipple class="p-button-danger mb-2 w-100" label="Zbanuj to konto"
          [disabled]="banPhrase.toLowerCase() !== account.nickname.toLowerCase()" (click)="banAccount()"></button>
</div>

