.fs {
  line-height: 24px !important;
}
.acc-tab-title {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  line-height: 24px;
}
span {
  text-decoration: none !important;
}
.gap {
  gap: 0.5rem;
}
.min-w-75 {
  min-width: 75%;
}
.opaque {
  opacity: 0.4;
}
.nav-link {
  color: #919191;
  padding: 0 !important;
  margin: 0 !important;
  transition: 0.2s ease-in-out;
  &:hover {
    color: #5b5b5b;
  }
}
