<div class="d-flex w-100 flex-row align-items-center justify-content-between">
  <div class="d-flex w-100 flex-row align-items-center justify-content-start">
    <b class="account-link" [routerLink]="'/account/'+comment.accountPreview.id"
       attr.aria-label="Konto {{comment.accountPreview.nickname}}">
      {{comment.accountPreview.nickname}}
    </b><b>:</b>
  </div>
  <button pButton pRipple type="button" *ngIf="comment.isModifiable || comment.isAdminModifiable"
          icon="bi bi-x" class="p-button p-0 p-button-danger" (click)="onCommentDelete()">
  </button>
</div>
<div class="px-3 py-1">
  <pre class="text-wrap">{{comment.text}}</pre>
</div>
<small class="w-100 d-flex justify-content-end text-muted">
  Dodano: {{comment.commentAdded | dateAgo}}
</small>
