
<p-fileUpload name="profPic"
              accept="image/*"
              [multiple]="false"
              [maxFileSize]="4194304"
              [showUploadButton]="false"
              [chooseLabel]="'Wybierz'"
              [cancelLabel]="'Anuluj'"
              [invalidFileSizeMessageSummary]="'{0}: Nieprawidłowa wielkość obrazka,'"
              [invalidFileSizeMessageDetail]="'Maksymalna wielkość obrazka to {0}.'"
              (onRemove)="onFileCancel()"
              (onSelect)="onFileSelect($event)"
              (onClear)="onFileCancel()">
</p-fileUpload>

<image-cropper
  [imageFile]="imageFile"
  [maintainAspectRatio]="true"
  [aspectRatio]="4 / 3"
  format="webp"
  (imageCropped)="imageCropped($event)"
></image-cropper>

<div *ngIf="cropperDataUrl">

  <div class="mt-3 text-center" *ngIf="showDefaultSubmitButton">
    <button pButton class="px-5" label="{{buttonLabel}}"
            [disabled]="!cropperDataUrl || awaitSubmit" (click)="crop()">
    </button>
  </div>

</div>


