<footer class="bg-dark">
  <div class="container w-100 bg-dark">

      <div class="container">
        <div class="grid">
          <div class="row navbar navbar-dark bg-dark">
            <div class="col-12">
              <div class="navbar-nav my-2 my-lg-1">

                <div class="nav-item d-md-flex justify-content-md-center">

                  <a class="nav-link" target="_blank" href="https://migra.ml/polityka-prywatnosci" aria-label="Polityka prywatności">
                        <span class="d-flex justify-content-center px-2">
                          <span class="bi bi-lock-fill"></span>
                          <span class="fs"><p>Polityka prywatności</p></span>
                        </span>
                  </a>
                  <a class="nav-link" routerLink="/tos/rulebook" routerLinkActive="active" aria-label="Regulamin strony">
                        <span class="d-flex justify-content-center px-2">
                          <span class="bi bi-file-earmark-text-fill"></span>
                          <span class="fs"><p>Regulamin strony</p></span>
                        </span>
                  </a>
                  <a class="nav-link" routerLink="/report" routerLinkActive="active" aria-label="Zgłaszanie błędu">
                        <span class="d-flex justify-content-center px-2">
                          <span class="bi bi-bug-fill"></span>
                          <span class="fs"><p>Chcesz zgłosić błąd?</p></span>
                        </span>
                  </a>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="separator"></div>

      <div class="container">
        <div class="col-12 d-flex flex-column flex-md-row justify-content-between navbar navbar-dark bg-dark text-muted font-weight-bold">
          <span class="mb-2 mb-md-0">{{appTitle}}, {{currentYear}}.</span>
          <div class="d-flex flex-column d-sm-block align-items-center" aria-label="Twórca strony">
            <span>Aplikację zaprojektował i stworzył: </span>
            <a class="span-link link" href="https://migra.ml" target="_blank">Michał Grabka</a>
          </div>
        </div>
      </div>
  </div>
</footer>

