<div class="pt-4">
  <div class="container">
    <div class="main row">
      <div class="col text-center align-self-center m-0">
        <img class="img-fluid w-100" src="../../../../../assets/images/service-unavaliable.webp"
             alt="Prace serwisowe" title="Prace serwisowe">
        <div class="card-body pt-2 pb-4 px-0 text-center">

          <h3 class="card-title text-danger">
            <strong>Prace serwisowe</strong>
          </h3>
          <h5 class="text-danger pb-2 px-md-5">
            <strong>
              Trwa teraz przerwa techniczna. Programista wyłączył część aplikacji,
              która znajduje się na serwerze, aby wdrożyć zmiany.
              Za jakiś czas wszystko powinno z powrotem działać.
            </strong>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
