<p-dialog styleClass="modal"
          header="Udostępnij"
          [(visible)]="visible"
          [modal]="true"
          [dismissableMask]="false"
          [showHeader]="false"
          [draggable]="false"
          [closable]="false">

  <div *ngIf="picture">

    <div class="d-flex justify-content-start flex-column-reverse flex-md-row modal-container">

      <div class="left-box">
        <h2 class="pic-name d-flex flex-column justify-content-center align-items-center bg-surface-gray p-2 h2 m-0 font-weight-bold">
          <span>{{picture.name | titlecase}}</span>
        </h2>

        <img src="{{picture.url}}" alt="{{picture.name}}"
             class="img-fluid">

        <div class="d-flex gap-2 p-2 flex-wrap justify-content-between bg-surface-gray">
          <div class="d-flex justify-content-center flex-wrap gap-2">
            <p-tag *ngFor="let tag of picture.tags">{{tag}}</p-tag>
            <p-tag *ngIf="!picture.tags.length">brak_tagów_:(</p-tag>
          </div>
          <div class="ml-auto">
            <app-vote-button
              [voteType]="0"
              [likeState]="picture.likeState"
              [likeCount]="picture.likeCount"
              [dislikeCount]="picture.dislikeCount"
              [isLoggedOn]="isLoggedOn"
              (voted)="$event === 0 ? like() : dislike()">
            </app-vote-button>
            <app-vote-button
              [voteType]="1"
              [likeState]="picture.likeState"
              [likeCount]="picture.likeCount"
              [dislikeCount]="picture.dislikeCount"
              [isLoggedOn]="isLoggedOn"
              (voted)="$event === 0 ? like() : dislike()">
            </app-vote-button>
          </div>
        </div>

        <div class="px-2 pb-3 mb-3 bg-surface-gray">
          <div class="d-flex flex-row gap-1 justify-content-start align-items-center mb-2">
            <a routerLink="/account/{{picture.accountPreview.id}}" class="prof-link">
              <img src="{{picture.accountPreview.profilePicUrl}}" class="prof-pic border" alt="{{picture.accountPreview.nickname}}">
              <span class="prof-name" attr.aria-label="Konto {{picture.accountPreview.nickname}}">{{picture.accountPreview.nickname}}</span>
            </a>
            <span class="pic-date text-muted">{{picture.pictureAdded | date:'dd.MM.YYYY'}}</span>
          </div>
          <div class="d-flex w-100 flex-column">
            <i class="pic-desc text-muted">{{picture.description ? picture.description : 'Brak opisu obrazka.'}}</i>
          </div>
        </div>

        <div class="comment-section d-flex flex-column">

          <app-comment-section
            [picId]="picture.id"
            [isLoggedOn]="isLoggedOn"
            (commentDeleted)="picture.commentCount = picture.commentCount-1"
            (commentAdded)="picture.commentCount = picture.commentCount+1">
          </app-comment-section>

        </div>

        <div *ngIf="!showSettings" class="d-block d-md-none flex-md-column flex-column-reverse px-3 py-2">

          <div>
            <h3>Inne zdjęcia tego użytkownika</h3>
            <p class="text-muted">tutaj bedzie kilka zdjec tego uzytkownika</p>
          </div>

          <div class="my-4">
            <h3>Powiązane zdjęcia</h3>
            <p class="text-muted">tutaj bedzie kilka podobnych zdjec</p>
          </div>

        </div>

      </div>

      <div class="info-box d-flex flex-column px-3 py-2">

        <div class="mt-2 mb-md-4">

          <div
            class="d-flex align-items-center gap-2"
            [ngClass]="(picture.isModifiable || picture.isAdminModifiable) ? 'justify-content-between' : 'justify-content-end'">

            <div
              *ngIf="!(picture.isModifiable || picture.isAdminModifiable)"
              class="p-inputgroup my-3">
              <input type="text" pInputText value="{{shareUrl}}" class="w-100 border" [disabled]="true">
              <button type="button" pButton pRipple icon="bi bi-link-45deg" (click)="copyUrl(shareUrl)"></button>
            </div>

            <button
              pButton
              (click)="showSettings = !showSettings"
              *ngIf="picture.isModifiable || picture.isAdminModifiable"
              label="{{showSettings ? 'Informacje' : 'Edytuj'}}"
              icon="{{showSettings ? 'bi bi-info-circle' : 'bi bi-pencil'}}"></button>

            <div class="d-flex gap-2">
              <button
                pButton
                icon="bi bi-arrow-clockwise"
                (click)="refreshPicture()"
                [disabled]="recentlyRefreshed"></button>
              <button
                pButton
                icon="bi bi-arrow-90deg-left"
                class="p-button-danger p-button-icon-only"
                (click)="close()"></button>
            </div>

          </div>

          <div
            *ngIf="(picture.isModifiable || picture.isAdminModifiable)"
            class="p-inputgroup my-3">
            <input type="text" pInputText value="{{shareUrl}}" class="w-100 border" [disabled]="true">
            <button type="button" pButton pRipple icon="bi bi-link-45deg" (click)="copyUrl(shareUrl)"></button>
          </div>
        </div>

        <div *ngIf="!showSettings" class="d-none d-md-block flex-md-column flex-column-reverse">

          <div>
            <h3>Inne zdjęcia tego użytkownika</h3>
            <p class="text-muted">tutaj bedzie kilka zdjec tego uzytkownika</p>
          </div>

          <div class="my-4">
            <h3>Powiązane zdjęcia</h3>
            <p class="text-muted">tutaj bedzie kilka podobnych zdjec</p>
          </div>

        </div>

        <div *ngIf="showSettings">

          <app-edit-picture
            [pictureId]="picture.id"
            [pictureName]="picture.name"
            [isAdminModifiable]="picture.isAdminModifiable"
            [isModifiable]="picture.isModifiable"
            (pictureChangedEvent)="pictureChanged($event)"
            (pictureDeletedEvent)="pictureDeleted()"
          >
          </app-edit-picture>

        </div>

      </div>

  </div>

  </div>

</p-dialog>
