<div class="px-3 px-md-0">
  <div class="mb-3">
    <h2 class="font-weight-bold mb-2">Regulamin użytkownika</h2>
    <p>Każdy użytkownik jest zobowiązany do przestrzegania regulaminu, który przed rejestracją został przez niego zaakceptowany.</p>
  </div>
  <ol class="mb-4">
    <li class="mb-1">
      <h3>Każdy użytkownik powinien się zapoznać z niniejszym regulaminem.</h3>
    </li>
    <li class="mb-1">
      <h3>Każdy użytkownik powinien zapoznać się z <a class="link" href="https://migra.ml/polityka-prywatnosci">polityką prywatności</a>.</h3>
    </li>
    <li class="mb-1">
      <h3>Treści na stronie</h3>
      <ul>
        <li>
          Każdy obrazek przed zapostowaniem jest jednorazowo sprawdzany przez sztuczną inteligencję,
          w celu sprawdzenia, czy nie zawiera on treści pornograficznych.
        </li>
        <li>
          Posty na stronie głównej są sortowane według algorytmu, który bierze pod uwagę date zapostowania, oraz ilość polubień.
        </li>
      </ul>

    </li>
    <li class="mb-1">
      <h3>Prawa użytkownika:</h3>
      <ul>
        <li>Użytkownik ma prawo do przeglądania, zamieszczania, oraz komentowania postów innych użytkowników.</li>
        <li>Użytkownik może usuwać lub edytować dodane przez siebie posty.</li>
        <li>Użytkownik może usuwać komentarze jego autorstwa spod postów.</li>
      </ul>
    </li>
    <li class="mb-1">
      <h3>Obowiązki użytkownika:</h3>
      <ul>
        <li>Użytkownik odpowiada za treści zamieszczane przez niego na stronie</li>
        <li>Użytkownik nie ma prawa obrażania żadnego innego użytkownika, stosowania mowy nienawiści, i zamieszczania niecenzuralnych treści, między innymi:</li>
        <ul>
          <li>pornografii,</li>
          <li>postów i komentarzy stosujących lub nakłaniających do stosowania mowy nienawiści,</li>
          <li>postów lub komentarzy nacechowanych hejtem lub nakłaniających do hejtu.</li>
        </ul>
        <li>W przypadku nie zastosowania się do regulaminu użytkownika, administratorzy mają prawo do usunięcia niestosownego postu lub zbanowania użytkownika.</li>
      </ul>
    </li>
  </ol>
</div>
