<div class="pt-4">
  <div class="container">
    <div class="main row">
      <div class="col text-center align-self-center m-0">
        <img class="img-fluid w-100" src="../../../assets/images/error500.webp"
             alt="Nieznany błąd" title="Nieznany błąd">
        <div class="card-body pt-2 pb-4 px-0 text-center">

          <h3 class="card-title text-danger">
            <strong>Nieznany błąd serwera (500)</strong>
          </h3>
          <h5 class="text-danger pb-2 px-md-5">
            <strong>
              Wystąpił nieznany błąd, który nie powinien wystąpić. Programiście widocznie się coś popierdasiło.
              Jeśli chcesz, możesz mu to zgłosić.
              <br>
              (będzie wdzięczny)
            </strong>
          </h5>

          <div class="d-flex justify-content-between text-center p-2 row">
            <div class="col-12 p-0 pt-2 pt-md-0">
              <button class="m-1 p-button-secondary" pButton pRipple routerLink="/report">Chcesz zgłosić błąd?</button>
              <button class="m-1 p-button-outlined" pButton pRipple routerLink="/home">Powrót do strony głównej</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
