img{
  width: 100%;
  object-fit: contain;
  aspect-ratio: 4/3;
  transition: 500ms ease;
}
.img-wrapper {
  width: 100%;
  aspect-ratio: 4/3;
}
.picture {
  @media screen and (max-width: 776px) {
    max-width: 470px;
    margin: auto;
  }
}
.account-link {
  color: #757575;
  transition: 0.05s ease-in-out;
  &:hover {
    text-decoration: underline !important;
    color: #424242;
  }
}
.button-strong {
  font-weight: 500 !important;
}
