<div class="px-3 px-md-0 mb-5" *ngIf="picture">
  <div class="mb-3 d-flex align-items-center justify-content-between">
    <button pButton label="Powrót" icon="bi bi-arrow-return-left" class="px-3" (click)="return()"></button>
  </div>

  <p-card class="text-center">

    <img src="{{picture.url}}" class="img-fluid border-bottom border-top w-100"
         alt="{{picture.name}}, dodano przez: {{picture.accountPreview.nickname}}">

    <ng-template pTemplate="header">
      <h2 class="text-center py-2"><b>{{picture.name | titlecase}}</b></h2>
    </ng-template>

    <ng-template pTemplate="body">
      <div class="text-break px-3 py-2">
        <p class="text-center text-break d-flex justify-content-center align-items-center mb-1">
          <a routerLink="/account/{{picture.accountPreview.id}}" class="d-inline-flex" attr.aria-label="Konto {{picture.accountPreview.nickname}}">
            <span class="bi bi-person-fill"></span>{{picture.accountPreview.nickname}}
          </a>, {{picture.pictureAdded | date:'dd.MM.YYYY'}}
        </p>
        <div class="d-flex justify-content-center align-items-center mb-1 text-muted text-break">
          <p class="px-2 px-md-4 px-lg-5 d-flex justify-content-center align-items-center">
            <span class="bi bi-card-text mr-1" *ngIf="!picture.description"></span>
            {{picture.description ? picture.description : "Brak opisu"}}
          </p>
        </div>
        <div class="d-flex flex-wrap justify-content-center mb-1 gap" *ngIf="picture.tags.length">
          <p-tag *ngFor="let tag of picture.tags">
            <span class="bi bi-tag-fill"></span>{{tag}}
          </p-tag>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-between py-3">

        <div class="d-flex ml-3">
          <button class="mx-1 px-2 p-button-sm py-2 p-button-icon-only" pButton (click)="showShare()" aria-label="share">
            <span class="bi bi-share"></span>
          </button>
        </div>

        <div class="d-flex mr-3">
          <button class="mx-1 p-button-sm py-2" pButton (click)="like()" [disabled]="!isLoggedOn" aria-label="like">
            <strong class="pr-2">{{picture.likeCount}}</strong>
            <span class="bi" [ngClass]="picture.likeState === 1 ? 'bi-hand-thumbs-up-fill' : 'bi-hand-thumbs-up'" ></span>
          </button>
          <button class="mx-1 p-button-sm py-2" pButton (click)="dislike()" [disabled]="!isLoggedOn" aria-label="dislike">
            <strong class="pr-2">{{picture.dislikeCount}}</strong>
            <span class="bi" [ngClass]="picture.likeState === 2 ? 'bi-hand-thumbs-down-fill' : 'bi-hand-thumbs-down'" ></span>
          </button>
          <button class="mx-1 px-2 p-button-sm py-2 p-button-icon-only" pButton (click)="showDetails()" aria-label="details">
            <span class="bi bi-chat-text"></span>
          </button>
        </div>

      </div>
    </ng-template>

  </p-card>

  <p-dialog [(visible)]="showShareFlag" header="Udostępnij"
            [modal]="true" [dismissableMask]="true" [draggable]="false">
<!--    <app-share-modal (onCopy)="showShareFlag = false" [id]="picture.id" itemType="picture"></app-share-modal>-->
  </p-dialog>

</div>


