<div class="px-3 px-md-0 mb-5 d-flex flex-column gap-3" *ngIf="picture">

  <div class="d-flex align-items-center justify-content-between">
    <button
      pButton
      label="Powrót"
      icon="bi bi-arrow-return-left"
      class="px-3"
      (click)="return()">
    </button>
    <button
      pButton
      icon="bi bi-gear"
      class="px-3 p-button-icon-only"
      (click)="showSettingsFlag = !showSettingsFlag"
      *ngIf="picture.isAdminModifiable || picture.isModifiable">
    </button>
  </div>

  <p-card *ngIf="showSettingsFlag">
    <div class="p-4">
      <app-edit-picture
        [pictureId]="picture.id"
        [pictureName]="picture.name"
        [isAdminModifiable]="picture.isAdminModifiable"
        [isModifiable]="picture.isModifiable"
        (pictureChangedEvent)="pictureChanged($event)"
        (pictureDeletedEvent)="pictureDeleted()"
      >
      </app-edit-picture>
    </div>
  </p-card>

  <p-card class="text-center">

    <img src="{{picture.url}}" class="img-fluid border-bottom border-top w-100"
         alt="{{picture.name}}, dodano przez: {{picture.accountPreview.nickname}}">

    <ng-template pTemplate="header">
      <h2 class="text-center py-2"><b>{{picture.name | titlecase}}</b></h2>
    </ng-template>

    <ng-template pTemplate="body">
      <div class="text-break px-3 py-2">
        <p class="text-center text-break d-flex justify-content-center align-items-center mb-1">
          <a routerLink="/account/{{picture.accountPreview.id}}" class="d-inline-flex" attr.aria-label="Konto {{picture.accountPreview.nickname}}">
            <span class="bi bi-person-fill"></span>{{picture.accountPreview.nickname}}
          </a>, {{picture.pictureAdded | date:'dd.MM.YYYY'}}
        </p>
        <div class="d-flex justify-content-center align-items-center mb-1 text-muted text-break">
          <p class="px-2 px-md-4 px-lg-5 d-flex justify-content-center align-items-center">
            <span class="bi bi-card-text mr-1" *ngIf="!picture.description"></span>
            {{picture.description ? picture.description : "Brak opisu"}}
          </p>
        </div>
        <div class="d-flex flex-wrap justify-content-center mb-1 gap" *ngIf="picture.tags.length">
          <p-tag *ngFor="let tag of picture.tags">
            <span class="bi bi-tag-fill"></span>{{tag}}
          </p-tag>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-between py-3 mx-3">

        <div class="d-flex">
          <button class="mx-1 py-2 button-strong" pButton aria-label="details"
                  icon="bi bi-chat-dots" label="{{picture.commentCount}}">
          </button>
        </div>

        <div class="d-flex">
          <app-vote-button
            [voteType]="0"
            [likeState]="picture.likeState"
            [likeCount]="picture.likeCount"
            [dislikeCount]="picture.dislikeCount"
            [isLoggedOn]="isLoggedOn"
            (voted)="$event === 0 ? like() : dislike()">
          </app-vote-button>
          <app-vote-button
            [voteType]="1"
            [likeState]="picture.likeState"
            [likeCount]="picture.likeCount"
            [dislikeCount]="picture.dislikeCount"
            [isLoggedOn]="isLoggedOn"
            (voted)="$event === 0 ? like() : dislike()">
          </app-vote-button>

        </div>

      </div>
    </ng-template>

  </p-card>

</div>

<app-comment-section
  [picId]="picture.id"
  [isLoggedOn]="isLoggedOn"
  (commentDeleted)="picture.commentCount = picture.commentCount-1"
  (commentAdded)="picture.commentCount = picture.commentCount+1">
</app-comment-section>



