<div class="d-flex flex-column justify-content-between" style="height: 100vh">
  <div>

    <div class="nav-top">
      <app-navbar [appTitle]="appTitle"></app-navbar>
    </div>

    <main class="container" *ngIf="isLoaded">
      <div class="row justify-content-center">

        <div class="col-12 order-2 order-md-1 mt-4 p-0" [ngClass]="canShowSidebar() ? 'col-md-7 col-lg-7' : ''">
          <router-outlet *ngIf="isLoaded"></router-outlet>
        </div>

        <app-sidebar
          class="col-12 col-md-4 col-lg-4 order-1 px-3 pt-2 p-md-0 pl-md-4 order-md-2 mt-4 d-none d-md-block"
          *ngIf="canShowSidebar()">
        </app-sidebar>

      </div>
    </main>

  </div>

<!--  <app-footer [appTitle]="appTitle" *ngIf="canShowFooter()"></app-footer>-->

</div>



<p-toast position="bottom-right"></p-toast>
<p-toast position="bottom-center" key="cookiesAlert" styleClass="cookies-alert">
  <ng-template let-message pTemplate="message">
    <div class="d-flex flex-column w-100">
      <div class="text-center">
        <h4 class="mb-2">{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="d-flex justify-content-center gap-2 mt-2">
        <button pButton pRipple label="OK" class="p-button-sm" (click)="onCookieAlertAccept()"></button>
      </div>
    </div>

  </ng-template>
</p-toast>

<p-dialog [(visible)]="showPictureDetailsModal" header='Szczegóły obrazka'
          [modal]="true" styleClass="big-modal" [dismissableMask]="true" [draggable]="false">
  <app-picture-details-modal (pictureChanged)="pictureChanged($event)" (modalClose)="showPictureDetailsModal = false"></app-picture-details-modal>
</p-dialog>
