.banner {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover !important;
  background-position: center center;
  .banner-header {
    border-radius: 0.25rem 0.25rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    .prof-pic {
      margin-right: 6px;
      border: 1px solid rgba(255, 255, 255, 0.35);
      background-color: rgba(255, 255, 255);
      max-width: 3.5rem;
      border-radius: 35%;
    }
    .nickname {
      font-size: 2.25rem;
      font-weight: 500;
      font-style: italic;
    }
  }
  .banner-footer {
    margin-top: 4rem;
    font-size: 1.25em;
    font-family: Calibri, serif;
    color: white;

    border-radius: 0 0 0.25rem 0.25rem;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .description {
      padding: 0.5rem 0 !important;
      max-width: 50ch;
    }
  }
}
