p {
  margin: 0 !important;
  vertical-align: middle;
  text-align: center;
}
.container-fluid {
  padding: 0 5rem !important;
}
.separator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
.fs {
  line-height: 24px;
}
.bi {
  font-size: 1.2rem;
}
a.span-link {
  font-size: 1.875rem;
  text-decoration: none;
  letter-spacing: -0.05rem;
  width: max-content;
  font-family: "Calibri", sans-serif;
  font-style: italic;
  color: #757575;
  font-weight: 800;
}
