.container{
  height: 100%;
}
.w-lg-50{
  @media only screen and(min-width: 992px) {
    width: 40vw !important;
  }
}
label {
  line-height: 1.125rem;
}
.mb-4 {
  margin-bottom: 2rem !important;
}
h2 {
  font-size: 1.5rem;
  color: #484848;
  font-weight: bold;
  letter-spacing: .5px;
}
.p-error.d-block {
  margin: 0 5px !important;
  margin-top: 2px !important;
}
input {
  width: 100%;
}
.errors {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
