<div *ngIf="picture != undefined" [id]="picture.id" class="mx-2">

  <p-card styleClass="text-center">

    <ng-template pTemplate="header">
      <div class="p-card-title text-center mt-1 text-break title">
        <b>{{index}}.</b> {{picture.name | slice:0:14 | titlecase}}{{picture.name.length > 14 ? "..." : null}}
      </div>
    </ng-template>

    <img src='{{this.picture.url}}' class="img-fluid" alt="{{picture.name}} by {{picture.accountPreview.nickname}}" title="{{picture.name}} by {{picture.accountPreview.nickname}}">

    <ng-template pTemplate="footer">
      <div class="d-flex justify-content-between py-3">

        <div class="d-flex ml-3">
          <button pButton pRipple [routerLink]="'/picture/'+picture.id" icon="bi bi-info-circle" name="Szczegóły"></button>
        </div>

        <div class="d-flex gap-2 color-primary" *ngIf="showLikeCount" [ngClass]="showCommentCount ? '' : 'mr-3'">
          <div class="d-flex justify-content-center align-items-center">
            <strong class="pr-1">{{picture.likeCount}}</strong>
            <span class="bi bi-hand-thumbs-up-fill" ></span>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <strong class="pr-1">{{picture.dislikeCount}}</strong>
            <span class="bi bi-hand-thumbs-down-fill" ></span>
          </div>
        </div>

        <div class="d-flex gap-2 mr-3 color-primary" *ngIf="showCommentCount">
          <div class="d-flex justify-content-center align-items-center">
            <strong class="pr-1">{{picture.commentCount}}</strong>
            <span class="bi bi-chat-right-text-fill" ></span>
          </div>
        </div>

      </div>
    </ng-template>

  </p-card>

</div>

