<app-picture-cropper #pictureCropperComponent
                     [showDefaultSubmitButton]="false"
                     [config]="{ aspectRatio: 4/3, resizeToWidth: 1280 }"
                     [cropperDataUrl]="getCropperData()"
                     (onCropperDataChanged)="saveCropperData($event)"
                     (onReadyChange)="next = $event"
                     (onCroppedFileSubmit)="saveFile($event)">
</app-picture-cropper>

<div class="d-flex justify-content-between align-items-center mt-4 mb-5">
  <button pButton label="Powrót" icon="bi bi-arrow-90deg-left"
          (click)="return()">
  </button>
  <button pButton label="Dalej" (click)="cropFile()"
          icon="bi bi-arrow-return-right" [disabled]="!next"
          routerLink="/picture/post/details">
  </button>
</div>
