<div class="main">
  <div class="container py-4 py-md-5 w-100">

    <div class="card">
      <div class="card-header text-center">
        <h2>Rejestracja</h2>
      </div>
      <div class="card-body">

        <form class="text-center justify-content-center row pt-3" typeof="submit" [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="text-left col-12 mb-form-input">
            <span class="p-float-label">
              <input id="nickname-input" class="w-100" type="text" [pKeyFilter]="isName" [pValidateOnly]="true"
                     [ngClass]="isNickNameTaken ? 'ng-dirty ng-invalid ng-touched' : ''"
                     formControlName="nickname" pInputText>
              <label for="nickname-input">
                Nazwa użytkownika
              </label>
            </span>
            <span *ngIf="form.get('nickname')!.touched && form.get('nickname')!.invalid && !formDisabled">
              <small id="nickname-input-error-required" class="p-error d-block"
                     *ngIf="form.get('nickname')!.errors!['required']">
                Proszę wypełnić to pole
              </small>
              <small id="nickname-input-error-minlength" class="p-error d-block"
                     *ngIf="form.get('nickname')!.errors!['minlength']">
                Nazwa użytkownika powinna zawierać co najmniej 4 znaki
              </small>
              <small id="nickname-input-error-maxlength" class="p-error d-block"
                     *ngIf="form.get('nickname')!.errors!['maxlength']">
                Nazwa użytkownika powinna zawierać maksymalnie 16 znaków
              </small>
              <small id="nickname-input-error-regex-mismatch" class="p-error d-block"
                     *ngIf="form.get('nickname')!.invalid &&
                     !form.get('nickname')!.errors!['maxlength'] &&
                     !form.get('nickname')!.errors!['minlength'] &&
                     !form.get('nickname')!.errors!['required']">
                Nazwa użytkownika nie może zaczynać i kończyć się spacją, oraz nie może posiadać wielu spacji obok siebie
              </small>
            </span>
            <small id="nickname-input-error" class="p-error d-block"
                   *ngIf="isNickNameTaken">
              Ta nazwa użytkownika jest zajęta
            </small>
          </div>

          <div class="text-left col-12 mb-form-input">
            <span class="p-float-label">
              <input id="email-input" class="w-100" type="text" [pKeyFilter]="blockSpace"
                     formControlName="email" pInputText>
              <label for="email-input">
                E-mail
              </label>
            </span>
            <span *ngIf="form.get('email')!.touched && form.get('email')!.invalid && !formDisabled">
              <small id="email-input-error-required" class="p-error d-block"
                     *ngIf="form.get('email')!.errors!['required']">
                Proszę wypełnić to pole
              </small>
              <small id="email-input-error" class="p-error d-block"
                     *ngIf="form.get('email')!.errors!['email']">
                Proszę wpisać poprawny adres e-mail
              </small>
            </span>
          </div>

          <div class="text-left col-12 mb-form-input">
            <span class="p-float-label">
              <input id="password-input" class="w-100" type="password" formControlName="password" pInputText>
              <label for="password-input">
                Hasło
              </label>
            </span>
            <span *ngIf="form.get('password')!.touched && form.get('password')!.invalid">
              <small id="password-input-error-required" class="p-error d-block"
                     *ngIf="form.get('password')!.errors!['required']">
                Proszę wypełnić to pole
              </small>
              <small id="password-input-error" class="p-error d-block"
                     *ngIf="form.get('password')!.errors!['minlength']">
                Hasło powinno zawierać co najmniej 8 znaków
              </small>
            </span>
          </div>

          <div class="text-left col-12 mb-form-input">
            <span class="p-float-label">
              <input id="conf-input" class="w-100" type="password"
                     formControlName="confirmPassword" pInputText>
              <label for="conf-input">
                Powtórz hasło
              </label>
            </span>
            <span *ngIf="form.get('confirmPassword')!.touched && form.get('confirmPassword')!.invalid">
              <small id="conf-password-input-error-required" class="p-error d-block"
                     *ngIf="form.get('confirmPassword')!.errors!['required']">
                Proszę wypełnić to pole
              </small>
              <small id="conf-password-input-error" class="p-error d-block"
                     *ngIf="form.get('confirmPassword')!.errors!['mustMatch']">
                Hasła nie są takie same
              </small>
            </span>
          </div>

          <div class="d-flex justify-content-center mb-3 w-75">
            <small class="text-danger text-center m-auto font-weight-bold">
              Rejestrując się zgadzasz się na
              <a rel="Polityka prywatności" href="https://migra.ml/polityka-prywatnosci" target="_blank" class="link text-danger" >politykę prywatności</a> oraz
              <a rel="Regulamin" [routerLink]="'/tos/rulebook'" target="_blank" class="link text-danger" >regulamin strony</a>.
            </small>
          </div>


          <div class="d-flex w-100 justify-content-center mb-3">
            <p-captcha [siteKey]="siteKey" (onResponse)="passCaptcha()" (onExpire)="captchaPassed = false"></p-captcha>
          </div>

          <div class="col-12">
            <button pButton type="submit" class="p-button-primary px-5 py-2 border"
                    [disabled]="form.invalid || !captchaPassed || !form.enabled">Zarejestruj się
            </button>
          </div>


        </form>

      </div>
    </div>

    <div class="col-12 text-center py-2">
      <a routerLink="/auth/login" class="register-link underline">Masz już konto? Zaloguj się!</a>
    </div>

  </div>
</div>
