.select-item {
  font-size: clamp(0.95rem, 1400px, 1rem) !important;
}
.tables-container {
  height: clamp(34rem, 1200px, 34rem);
}
.gap {
  gap: 0.25rem;
}
.p-error.d-block {
  margin: 0 5px !important;
  margin-top: 2px !important;
}
.errors {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
