.gap-1 {
  gap: 0.5rem;
}
.gap-2 {
  gap: 1rem;
}
.account-nickname {
  font-size: 1.5rem;
  font-weight: 600;
}
ul {
  padding: 0;
  li {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    word-break: break-word;
  }
  .li-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}




